.container {
  width: 800px;
  margin: 0 auto;
}

.satu {
  border: solid;
  width: 230px;
  height: 230px;
  background-color: #09c902;
  border-image-source: url("img/hearts.png");
  border-image-width: 20px;
  border-image-slice: 20 22;
  border-image-repeat: round;
  border-image-outset: 20px;
  margin-top: 50px;
  box-shadow: 30px 30px;
}

.dua {
  margin-top: 50px;
  width: 230px;
  height: 230px;
  background-color: #1904d4;
  border: solid;
  border-image-source: url("img/border1.png");
  border-image-width: 33px;
  border-image-slice: 33 33;
  border-image-repeat: round;
  border-image-outset: 23px;
  box-shadow: 10px 10px 30px;


}
